body {
	
	font-family: Arial, Helvetica, sans-serif;
	font-size: small;
	
}

h1 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: large;
	color: #000000;

}

table, td {
	font-size: 10pt;
}

#NavBar {
	background-color: #1c4674;
	height: 24px;
	border-width: 2px;
	border-color: #000000;
	border-top-style: solid;
	text-decoration: none;
	
}

#NavBar a { 
	font-family:Tahoma; 
	font-size:16px; 
	color:white; 
	line-height:20px; 
	padding:0 3px; 
	margin-left:10px; 
	display:inline-block;
	text-decoration: none;

	}
#NavBar a:hover { 
	color: #5FC1BD;	}

td { 
	font-family:Tahoma; 
	font-size:13px; 
	color:#224e64;
	}